name: CI

on: [push]

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        nvim-versions: ["stable", "nightly"]
    name: Tests
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: rhysd/action-setup-vim@v1
        with:
          neovim: true
          version: ${{ matrix.nvim-versions }}
      - name: Run tests
        run: make test

  docs:
    name: Generate vimdoc
    needs: tests
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run panvimdoc
        uses: kdheepak/panvimdoc@main
        with:
          vimdoc: wtf.nvim
          demojify: true

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Auto-generate vimdoc"
          branch: docs/auto-vimdoc

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          branch: docs/auto-vimdoc
          title: "Auto-generate vimdoc"
          body: "This PR was automatically created by GitHub Actions to update the vimdoc."
          commit-message: "Auto-generate vimdoc"
          base: main
